:root {
  --main-font: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --secondary-font: raleway, Roboto, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #f5f4fa;
  --secondary-black-color: #2f303a;
  --header-border-color: #ececec;
  --inner-border-color: #eeeeee;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --transition-time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

/* Flex for lists in sections */
.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--card-set-gap) * -1);
  margin-left: calc(var(--card-set-gap) * -1);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  /* Background in Team section */
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--without-bottom-padding {
    padding-bottom: 0;
  }
}

.section--theme-dark {
  background-color: var(--secondary-bg-color);
}

.section__title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/*+ logo */
.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo--theme-white {
  color: var(--primary-white-color);
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__accent {
  color: var(--accent-color);
}

/* Button */
.button {
  font-family: inherit;
  font-size: 16px;
  letter-spacing: inherit;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color var(--transition-time) var(--timing-function), background-color var(--transition-time) var(--timing-function), box-shadow var(--transition-time) var(--timing-function);
}

/* button in Hero section */
.button--primary {
  padding: 10px 28px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
}

/* button with icon in Subscribtion form*/
.button--with-icon {
  display: inline-flex;
  align-items: center;
}

/* button in Modal form*/
.button--centered {
  align-self: center;
}

/* button in Portfolio filter */
.button--secondary {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  line-height: 1.62;
}

.button--secondary:hover, .button--secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*+ Social in Team */
.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color var(--transition-time) var(--timing-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--transition-time) var(--timing-function);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--primary-white-color);
}

/*+ Footer Socials */
.social__link--theme-dark {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time) var(--timing-function);
}

.social__link--theme-dark:hover, .social__link--theme-dark:focus {
  background-color: var(--accent-color);
}

.social__icon--theme-dark {
  fill: var(--primary-white-color);
}

/* Backdrop and Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all var(--transition-time) var(--timing-function);
}

/* Hide backdrop and modal window*/
.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time) var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.modal__icon-close {
  fill: currentColor;
  transition: fill var(--transition-time) var(--timing-function);
}

.modal__button-close:hover .modal__icon-close,
.modal__button-close:focus .modal__icon-close {
  width: 18px;
  height: 18px;
  fill: var(--accent-color);
}

/* Form */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  display: block;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__label-wrapper {
  display: inline-block;
  margin-bottom: 4px;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 15px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  transition: border-color var(--transition-time) var(--timing-function);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill var(--transition-time) var(--timing-function);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-time) var(--timing-function);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

/* Modal form terms */
.modal-form__term {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form__term-desc {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-form__term-desc--link {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .modal-form__term-desc {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form__term-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url("../images/icon-square-black.svg");
  transition: background-image var(--transition-time) var(--timing-function);
}

.modal-form__term:checked + .modal-form__term-desc::before {
  background-image: url("../images/icon-check.svg");
}

/* Portfolio filter*/
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

/*+ Header (for border-bottom) */
@media screen and (max-width: 767px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: none;
  }
  .contacts {
    display: none;
  }
  .mobile__button-open {
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
  }
  .mobile__icon-open {
    width: 40px;
    height: 40px;
    fill: currentColor;
    transition: fill var(--transition-time) var(--timing-function);
  }
  .mobile__button-open:hover .mobile__icon-open,
  .mobile__button-open:focus .mobile__icon-open {
    fill: var(--accent-color);
  }
  .mobile-menu {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-white-color);
    padding: 48px 40px;
    transition: all 250ms linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu--is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .mobile-menu__icon-close {
    width: 40px;
    height: 40px;
    fill: currentColor;
    transition: fill var(--transition-time) var(--timing-function);
  }
  .mobile-menu__button-close:hover .mobile-menu__icon-close,
  .mobile-menu__button-close:focus .mobile-menu__icon-close {
    fill: var(--accent-color);
  }
  .mobile-menu-nav {
    margin-bottom: 306px;
  }
  .mobile-menu-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-nav__link {
    display: inline-block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
  }
  .mobile-menu-nav__link--current {
    color: var(--accent-color);
  }
  .mobile-menu-contacts {
    margin-bottom: 64px;
  }
  .mobile-menu-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contacts__tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu-contacts__email {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .mobile-menu-social {
    display: flex;
  }
  .mobile-menu-social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu-social__item:not(:first-child) {
    padding-left: 10px;
  }
  .mobile-menu-social__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 88px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .mobile__button-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  /*+ Main-nav */
  .main-nav {
    display: flex;
    align-items: center;
  }
  /*+ Nav (logo + .site-nav) */
  .nav {
    display: flex;
    align-items: center;
  }
  /*+ Site nav */
  .site-nav {
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color var(--transition-time) var(--timing-function);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .site-nav__link--current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  /*+ Contacts header */
  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color var(--transition-time) var(--timing-function);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--transition-time) var(--timing-function);
  }
  .contacts__link:hover .contacts__icon,
  .contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
  }
}

.hero {
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-black-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480@1x.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-960@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1536@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1600@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-3200@2x.jpg");
  }
}

.hero__container {
  width: 360px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 700px;
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--card-set-gap) * -1);
    margin-left: calc(var(--card-set-gap) * -1);
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__name {
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .section--desktop-only {
    display: none;
  }
}

.activities__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.activities__thumb {
  position: relative;
}

.activities__name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: inherit;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--card-set-gap) * -1);
    margin-left: calc(var(--card-set-gap) * -1);
  }
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  box-shadow: var(--card-shadow);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__content {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}

.team__description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--card-set-gap) * -1);
  margin-left: calc(var(--card-set-gap) * -1);
}

.clients__item {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-time) var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill var(--transition-time) var(--timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

/* Portfolio list */
@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--card-set-gap) * -1);
    margin-left: calc(var(--card-set-gap) * -1);
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item:nth-child(-n + 2) .portfolio__content {
    height: 146px;
  }
}

.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-time) var(--timing-function);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform var(--transition-time) var(--timing-function);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translatey(0);
}

.portfolio__content {
  padding: 20px 24px;
  border-right: 1px solid var(--inner-border-color);
  border-bottom: 1px solid var(--inner-border-color);
  border-left: 1px solid var(--inner-border-color);
}

.portfolio__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/* Footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--primary-white-color);
  background-color: var(--secondary-black-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .container--page-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}

/* Footer address */
.address-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .address-container {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .address-container {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: var(--secondary-white-color);
  text-decoration: none;
  transition: color var(--transition-time) var(--timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

/*+ Footer Socials */
.socials-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .socials-container {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.page-footer__appeal {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Form in Footer */
.subscription-form__label {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscription-form__label {
    display: inline-block;
  }
}

.subscription-form__input {
  width: 100%;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  background-color: var(--secondary-black-color);
}

.subscription-form__input::placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
}

@media screen and (min-width: 768px) {
  .subscription-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */