/*+ Header (for border-bottom) */

@media screen and (max-width: 767px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: none;
  }

  .contacts {
    display: none;
  }

  // Mobile Button Open (Burger)
  .mobile__button-open {
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
  }

  .mobile__icon-open {
    width: 40px;
    height: 40px;
    fill: currentColor;
    transition: fill var(--transition-time) var(--timing-function);

    .mobile__button-open:hover &,
    .mobile__button-open:focus & {
      fill: var(--accent-color);
    }
  }

  // Mobile Menu

  .mobile-menu {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // left: 50%;
    background-color: var(--primary-white-color);
    padding: 48px 40px;
    transition: all 250ms linear;

    // transform: translateX(-50%) translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu--is-open {
    // transform: translateX(-50%) translateY(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  // Mobile Menu Button close
  .mobile-menu__button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .mobile-menu__icon-close {
    width: 40px;
    height: 40px;
    fill: currentColor;
    transition: fill var(--transition-time) var(--timing-function);

    .mobile-menu__button-close:hover &,
    .mobile-menu__button-close:focus & {
      fill: var(--accent-color);
    }
  }

  // Mobile Menu Navigation

  .mobile-menu-nav {
    margin-bottom: 306px;
  }

  .mobile-menu-nav__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .mobile-menu-nav__link {
    display: inline-block;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;

    &--current {
      color: var(--accent-color);
    }
  }

  // Mobile Menu Contacts

  .mobile-menu-contacts {
    margin-bottom: 64px;
  }

  .mobile-menu-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu-contacts__tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu-contacts__email {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  // Mobile Menu Social
  .mobile-menu-social {
    display: flex;
  }

  .mobile-menu-social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu-social__item:not(:first-child) {
    padding-left: 10px;
  }

  .mobile-menu-social__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

// Contacts Tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 88px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;

    &__item + &__item {
      margin-left: 50px;
    }
  }
}

// For Tablet and Screen
@media screen and (min-width: 768px) {
  .mobile__button-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  /*+ Main-nav */
  .main-nav {
    display: flex;
    align-items: center;
  }

  /*+ Nav (logo + .site-nav) */
  .nav {
    display: flex;
    align-items: center;
  }

  /*+ Site nav */
  .site-nav {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
  }

  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;

    transition: color var(--transition-time) var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--current {
      position: relative;
      color: var(--accent-color);
    }

    &--current::after {
      position: absolute;
      bottom: -1px;
      left: 0;

      content: '';
      display: block;
      width: 100%;
      height: 4px;

      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }

  /*+ Contacts header */
  // .contacts {
  //   display: flex;
  //   margin-left: auto;

  //   &__item + &__item {
  //     margin-left: 50px;
  //   }
  // }

  .contacts__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;

    transition: color var(--transition-time) var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;

    transition: fill var(--transition-time) var(--timing-function);

    .contacts__link:hover &,
    .contacts__link:focus & {
      fill: var(--accent-color);
    }
  }
}
