.team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--card-set-gap) * -1);
    margin-left: calc(var(--card-set-gap) * -1);
  }
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  box-shadow: var(--card-shadow);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}
.team__description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
