/* Backdrop and Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: all var(--transition-time) var(--timing-function);
}

/* Hide backdrop and modal window*/
.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 94%;
  max-width: 450px;
  height: 94%;
  max-height: 609px;
  padding: 40px;

  overflow-y: scroll;

  border-radius: 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time) var(--timing-function);

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 580px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
}
.modal__icon-close {
  fill: currentColor;

  transition: fill var(--transition-time) var(--timing-function);

  .modal__button-close:hover &,
  .modal__button-close:focus & {
    width: 18px;
    height: 18px;
    fill: var(--accent-color);
  }
}

/* Form */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  display: block;

  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal-form__field {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__label-wrapper {
  display: inline-block;
  margin-bottom: 4px;
}
.modal-form__input-wrapper {
  display: block;
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 15px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 16px;
  transition: border-color var(--transition-time) var(--timing-function);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: block;
  width: 18px;
  height: 18px;

  transition: fill var(--transition-time) var(--timing-function);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition-time) var(--timing-function);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

/* Modal form terms */
.modal-form__term {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form__term-desc {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;

  &--link {
    color: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form__term-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url('../images/icon-square-black.svg');
  flex-shrink: 0;

  transition: background-image var(--transition-time) var(--timing-function);

  .modal-form__term:checked + & {
    background-image: url('../images/icon-check.svg');
  }
}
