body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}
/* Flex for lists in sections */
.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--card-set-gap) * -1);
  margin-left: calc(var(--card-set-gap) * -1);
}
